{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1 class="text-3xl text-center text-fuchsia-600">Signup</h1>
    <form method="post" enctype="multipart/form-data" class="flex flex-col justify-between items-center space-y-6 m-auto mb-8 w-[75%]"> {% csrf_token %}
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_username" class="required">Username</label>
            {{user_form.username|add_class:"w-[100%]"}}
        </div>
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_password" class="required">Password</label>
            {{user_form.password|add_class:"w-[100%]"}}
        </div>
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_email">Email</label>
            {{user_form.email|add_class:"w-[100%]"}}
        </div>
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_profile_picture">Profile Picture</label>
            {{profile_form.profile_picture|add_class:"w-[100%]"}}
        </div>
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_profile_link">Link</label>
            {{profile_form.profile_link|add_class:"w-[100%]"}}
        </div>
        <div class="flex justify-center items-left w-[50%] flex-col">
            <label for="id_profile_number">Number</label>
            {{profile_form.profile_number|add_class:"w-[100%]"}}
        </div>

        <div class="flex justify-center items-center space-x-6 ">
        <button type="submit" class="rounded bg-fuchsia-600 text-white hover:bg-fuchsia-700 active:bg-fuchsia-800 px-6 py-3 self-center text-lg hover:scale-105 active:scale-95 transition-all duration-200 shadow-md">Signup</button>

        <a href="{% url 'login' %}"><button type="button" class="rounded bg-gray-50 text-gray-700 hover:bg-gray-100 active:bg-gray-200 px-6 py-3 self-center text-lg hover:scale-105 active:scale-95 transition-all duration-200 shadow-md">Login</button></a>
        </div>
    </form>
{% endblock %}