<nav class="flex flex-col p-6 space-y-4 text-gray-700 font-medium">
    <ul class="space-y-2">
      <li>
        <a href="{% url 'app:create-post' %}" class="block px-4 py-3 rounded-lg hover:bg-fuchsia-50 hover:text-fuchsia-700 transition">
          Add post
        </a>
      </li>
      <li>
        <a href="{% url 'app:create-category' %}" class="block px-4 py-3 rounded-lg hover:bg-fuchsia-50 hover:text-fuchsia-700 transition">
          Add category
        </a>
      </li>
    </ul>
  </nav>