{% extends 'base.html' %}

{% block title %} Delete {{category.category}} {% endblock %}
{% block content %}
<h1 class="text-3xl text-center text-red-600">Confirm Delete</h1>
<div class="p-6 flex flex-col items-center">
    <h1>Are you sure you want to delete {{category.category}}?</h1>
    <p class="text-red-400">This action cannot be undone!</p>

    <form method="post" class="space-x-6"> {% csrf_token %}
        <input type="submit" name="delete" value="Confirm" class="px-10 py-4 bg-red-50 text-red-700 rounded-xl hover:bg-red-100 active:bg-red-200 hover:scale-105 active:scale-95 transition-all duration-200 shadow-lg text-lg font-medium"/>
        <button type="button" class="px-10 py-4 bg-gray-50 text-gray-700 rounded-xl hover:bg-gray-100 active:bg-gray-200 hover:scale-105 active:scale-95 transition-all duration-200 shadow-lg text-lg font-medium"><a href="{% url 'app:detail-category' category.pk %}">Cancel</a></button>
    </form>
</div> 
{% endblock %}